go 1.26.1

use (
	./_examples
	./ai/eino
	./ai/langchaingo
	./ai/openai
	./broker
	./broker/kafka
	./broker/mqtt
	./broker/nats
	./broker/rabbitmq
	./broker/redis
	./broker/rocketmq
	./cache
	./cache/local
	./cache/redis
	./circuitbreaker
	./circuitbreaker/hystrix
	./circuitbreaker/sentinel
	./circuitbreaker/sres
	./circuitbreaker/vegas
	./config
	./config/env
	./config/file
	./config/fs
	./config/http
	./config/kubernetes
	./config/nacos
	./config/redis
	./encoding
	./encoding/json
	./encoding/proto
	./encoding/toml
	./encoding/yaml
	./errors
	./health
	./log
	./metrics
	./metrics/otel
	./metrics/prometheus
	./oss/minio
	./oss/s3
	./pprof
	./ratelimit
	./ratelimit/bbr
	./ratelimit/sentinel
	./ratelimit/tokenbucket
	./registry
	./registry/kubernetes
	./registry/nacos
	./retry
	./testing
	./tracer/otlp
	./transaction
	./transaction/dtm
	./transport
	./transport/grpc/client
	./transport/grpc/middleware/recovery
	./transport/grpc/server
	./transport/http
	./transport/http/driver/gin
	./transport/http/middleware/cors
	./transport/http/middleware/recovery
	./workflow
	./workflow/argo
	./workflow/conductor
	./workflow/goworkflows
	./workflow/temporal
)
