go 1.26.1

use (
	./_examples
	./cache
	./cache/local
	./cache/redis
	./log
	./retry
	./tracer/otlp
	./transaction
	./transaction/dtm
	./transport/grpc/client
	./transport/grpc/middleware/recovery
	./transport/grpc/server
	./transport/http
	./transport/http/driver/gin
	./transport/http/middleware/cors
	./transport/http/middleware/recovery
	./workflow
	./workflow/argo
	./workflow/conductor
	./workflow/goworkflows
	./workflow/temporal
)
